.recent-expenses {
  margin-top: 5rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
  }

  button {
    display: inline-block;
    border: 2px solid var(--clr-neutral-700);
    background: transparent;
    color: var(--clr-neutral-300);
    padding: 0.4rem 1rem;
    transition: 150ms ease;

    &:hover,
    &:focus-visible {
      background: var(--clr-neutral-700);
    }

    &:nth-of-type(1) {
      border-top-left-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
    }
    &:nth-of-type(2) {
      margin-left: -1px;
      border-top-right-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem;
    }
  }
}
