:root {
  --clr-neutral-100: #fff;
  --clr-neutral-300: #c1c1c1;
  --clr-neutral-400: #606060;
  --clr-neutral-700: #323232;
  --clr-neutral-900: #292929;
  --clr-purple: #6930c3;
  --clr-blue: #64dfdf;
}
